.blogcard {
  text-align: left;
  padding: 15px;
  background-color: rgb(236, 231, 231);
  width: 85%;
  border-radius: 15px;
  margin: auto;

  .date {
    text-align: right;
  }

  h2 {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .center {
    text-align: center;
  }
}
