h3 {
  text-decoration: none;
}

.navbar {
  background-color: rgb(14, 14, 148);

  ul {
    list-style: none;
    display: flex;
    padding: 0%;
    justify-content: space-around;
    margin: auto 0px;
    position: fixed;
    background-color: pink;
    width: 100%;
    height: 10vh;
    bottom: 0;
  }

  li {
    width: 33.33%;
    padding: 10px;
    background-color: rgb(14, 14, 148);
  }
}
