@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Signika:wght@300&display=swap");

h1,
h2,
h3 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

h3 {
  font-weight: lighter;
}

body {
  margin: 0;
  font-family: "Signika", sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
